{% extends 'principal/base.html' %}
{% block page_title %}Resultado da Enquete{% endblock %}
{% block breadcrumb_items %}
<li class="is-active"><a href="#" aria-current="page">Enquete</a></li>
{% endblock %}
{% block page_subtitle %}Resultado da Enquete{% endblock %}
{%load static%}
{% block content %}
    <div class="columns is-centered">
    <div class="column is-8-desktop is-10-tablet">

         <div class="level">
        <h1 class="title level-item is-1 has-text-centered mt-4">🏆 Resultado da Votação 🏆</h1>
        <div class="level-item">
            <figure class="image is-32x32">
                <img class="is-rounded" src="{% static 'enquete/imgs/bulmadragonball.jpg' %}" />
            </figure>
        </div>
    </div>
        <section class="box">
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>Alternativa</th>
                        <th>Votos</th>
                    </tr>
                </thead>
                {% for alternativa in alternativas %}
                    <tr>
                        <td>{{alternativa.texto}}</td>
                        <td>{{alternativa.votos}}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </div>

    </div>
   
   {%endblock%}
